


<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Welcome to the TTS Part Time Student Randomizer</h2>
        <h3>The super student is...<%= @students.sample %></h3>
        
        <p>
          <%= link_to "Roll Again", root_path, class: "btn btn-lg btn-primary" %>
        </p>
      </div>

    </div>